body {
	padding-top: 20px;
}
ol.reactions, ol.reactions li {
	list-style: none;
	margin: 0;
	padding:0;
}
ol.reactions li {
	position: relative;
}
ol.reactions li > div {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 5px 20px;
}
ol.reactions li .currentscore {
	position: absolute;
	top: 15px;
	right: 20px;
	font-weight: bold;
	font-size: 2em;
	color: #fff;
	background-color: #ccc;
	padding: 7px 10px;
	width: 50px;
	height: 50px;
	line-height: 35px;
	text-align: center;
}
ol.reactions li .currentscore.low {
	background-color: #f64;
}
ol.reactions li .currentscore.good {
	background-color: #ee7;
}
ol.reactions li .currentscore.high {
	background-color: #dd0;
}
ol.reactions li .currentscore.veryhigh {
	background-color: #6f4;
}
ol.reactions li time {
	font-size: .9em;
	color: #888;
}
ol.reactions li h2 > img {
	margin-right: 10px;
	border-radius: 50%;
}
ol.reactions li h2 > a:hover,
ol.reactions li h2 > a {
	text-decoration: none;
	color: #337ab7;
}
